############
## OS
############
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store



############
## Netbeans
############
/nbproject/*



############
## Composer
############
composer.phar
/vendor/
composer.lock
